.container{
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #FF3344 ;
}

.containerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.containerLogo h3{
  color: #ffffff;
  font-size: 1.5rem;
}

.img{
  width: 200px;
}

.containerBtnNoUser{
  display: flex;
  gap: 3rem;
  margin-right: 7rem;
}

.containerBtnUser{
  display: flex;
  gap: 2rem;
}

.cerrarSesion{
  width: 2.5rem;
}

.btnLogout{
  border: none;
  outline: none;
  width: 2.5rem;
  background: transparent;
  cursor: pointer;
}

.btnLogout img{
  width: 2.5rem;
  cursor: pointer;
}