.container{
  width: 300px;
  height: 470px;
  background-color: #e2dfa3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 3px solid #000000;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  box-shadow: 15px 15px 5px -3px rgba(0,0,0,0.56);
  padding: 0.5rem 0;
}

.containerStatsNull{
  width: 300px;
  height: 430px;
  background-color: #e2dfa3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 3px solid #000000;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: all 1s ease;
  box-shadow: 15px 15px 5px -3px rgba(0,0,0,0.56);
}

.title{
  cursor: pointer;
  transition: all 0.5s ease;
}

.title:hover{
  transform: scale(1.1);
}

.containerId{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1.5rem;
}

.spanId{
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
}

.img{
  width: 200px;
  height: 200px;
  border: 3px solid #ffcc01;
  background-color: #000000;
  padding: 1rem;
  border-radius: 20px;
}

.containerImgNull{
  width: 200px;
  height: 200px;
  border: 3px solid #ffcc01;
  background-color: #000000;
  padding: 1rem;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 0.5rem;
}

.containerTipo{
  margin-top: 0.5rem;
}

.containerAttack{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0 2rem ;
}

.stats{
  font-weight: bold;
}

.containerTypes{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.containerType{
  display: flex;
  gap: 1rem;
}

.ground{
  background-color: #E0C068;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.fire{
  background-color: #F08030;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.ice{
  background-color: #98D8D8;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.shadow{
  background-color: #333333;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.poison{
  background-color: #A040A0;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.rock{
  background-color: #808080;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.water{
  background-color: #6890F0;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.dragon{
  background-color: #7038F8;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.flying {
  background-color: #A890F0;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.bug{
  background-color: #A8B820;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.grass{
  background-color: #78C850;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.dark{
  background-color: #705848;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.fighting {
  background-color: #C03028;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.steel  {
  background-color: #B8B8D0;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.psychic{
  background-color: #F85888;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.unknown{
  background-color: #800000;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.normal{
  background-color: #A8A878;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.ghost{
  background-color: #705898;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.electric{
  background-color: #F8D030;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}

.fairy{
  background-color: #F0B6BC;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  color: #000000;
  font-weight: bold;
  box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.42);
}
